<!--Formulario que recibe y envia datos-->
<div class="card"> <!--bs5cardhead-foot-->
  <div class="card-header">
    Agregar empleado
  </div>
  <div class="card-body">
    <!--[formGroup]="formularioDeEmpleados"  llamada al contructor para recepcion de datos -->
    <!--activando validacion de forma nativa-->
    <form ngNativeValidate [formGroup]="formularioDeEmpleados" (ngSubmit)="enviarDatos()" > <!--metodo enviarDatos() que esta en componenets.ts-->
      <!--bs5form-input-->
      <div class="mb-3">
        <label for="" class="form-label">Nombre:</label>
        <!--formControlName="nombre" interactura con el formulario de empleados-->
        <input required type="text"
          class="form-control" name="" formControlName="nombre" aria-describedby="helpId" placeholder="Escribe tu nombre">
      </div>

      <div class="mb-3"> <!--bs5-form-input-->
        <label for="" class="form-label">Correo</label>
        <input required type="email"
          class="form-control" name="" formControlName="correo"  id="" aria-describedby="helpId" placeholder="Ingrese su coreo electronico">
      </div>
      <!--  bs5bgroup-default -->
      <div class="btn-group" role="group" aria-label="">
        <button type="submit" class="btn btn-success">Agregar</button> <!-- llamara al metodo enviarDatos()-->
        <button type="button" routerLink="/listar-empleado" class="btn btn-primary">Cancelar</button>

      </div>

    </form>

  </div>

</div>
