<!-- Creando el formulario -->
<div class = "container" style = "margin-top: 10px">
  <div class = "card">
    <div class = "card-header"> <!-- encabezado de la tarjeta-->
      <h3>Personas</h3>
    </div>
    <div class = "card-body"> <!-- cuerpo de la tarjeta-->
      <table class="table table-hover"><!-- TABLA-->
        <thead>
          <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr class = "text-center">
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button type="button" class="btn btn-warning">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

