<div class="card"> <!--bs5cardhead-foot-->
  <div class="card-header">
    Editar empleado
  </div>
  <div class="card-body">
    <!--[formGroup]="formularioDeEmpleados"  llamada al contructor para recepcion de datos -->
    <!--Activar validacion de forma nativa-->
    <form ngNativeValidate [formGroup]="formularioDeEmpleados" (ngSubmit)="enviarDatos()">
      <!--bs5form-input-->
      <div class="mb-3">
        <label for=""  class="form-label">Nombre:</label>
        <input required formControlName="nombre"  type="text"
          class="form-control"  name="" id="" aria-describedby="helpId" placeholder="Escribe tu nombre">
      </div>

      <div class="mb-3"> <!--bs5-form-input-->
        <label for="" class="form-label">Correo</label>
        <!--formControlName="nombre" interactura con el formulario de empleados-->
        <input required formControlName="correo" type="email"
          class="form-control" name=""   id="" aria-describedby="helpId" placeholder="Ingrese su coreo electronico">
      </div>
      <!--  bs5bgroup-default -->
      <div class="btn-group" role="group" aria-label="">
        <button type="submit" class="btn btn-success">Agregar</button>
        <button type="button" routerLink="/listar-empleado"  class="btn btn-primary">Cancelar</button>

      </div>

    </form>

  </div>

</div>

