<!--Interfaz de vista -->
<!--bs5card-foot-->
<div class="card">
  <div class="card-header">

    <!-- colocan {{empleado.id}} recuperamos el id a la hora de editar-->
    <a class="btn btn-success"  routerLink="/agregar-empleado/">Agregar Nuevo Empleado</a>
  </div>
  <div class="card-body">
    <h1>Lista Empleados</h1>
    <table class="table"> <!--bs5tab-default-->
      <thead>
        <tr >
          <th>Id</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- basicamente es un ciclo for -> *ngFor="let empleado of Empleados; let iControl = index agrega la variable empleados y obtiene los datos  -->
        <tr *ngFor="let empleado of Empleados; let iControl = index">
          <td>{{empleado.id}}</td>
          <td>{{empleado.nombre}}</td>
          <td>{{empleado.correo}}</td>
          <td>
            <!-- colocan {{empleado.id}} recuperamos el id a la hora de editar-->
            <a class="btn btn-primary"  routerLink="/editar-empleado/{{empleado.id}}">Editar</a>
            <!--bs5button-a--> <!--Icontrol es una variable contadora cuenta cada elemento eleminado-->
            <a class="btn btn-danger" (click)="borrarRegistro(empleado.id,iControl)" role="button">Borrar</a>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>
