<!--vs5-navbar-minimal-a-->
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">Sistema <span class="visually-hidden">(current)</span></a>
        <!-- routerLink="listar-empleado" es la ruta del componenete-->
        <a class="nav-item nav-link" routerLink="listar-empleado">Listar empleado</a>
        <a class="nav-item nav-link" routerLink="agregar-empleado">Agregar empleado</a>
    </div>
</nav>

<div class="container">

<router-outlet> <!-- muestra los contenidos de los componenetes enrutados-->

</router-outlet>
</div>
