{% extends 'webapp/base.html' %}
<!-- Contenido unico en el crear_producto lo que esta dentro no se hereda-->
<!--Formulario de crear -->
{% block content %}
<form method="post"> <!--Definimos que tenga metodo post-->
    {% csrf_token %} <!--Se debe definir un token para que no se abra 2 veces el mismo formulario-->
    {{ form.as_p }} <!--Indica que los campos de los datos del modelo  se muestran tipo parrafo-->
    <div class="float-right">
        <a href="" class="btn btn-secondary" >Atras</a>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
{% endblock %}