{% extends 'webapp/base.html' %}

<!-- Contenido unico en el index lo que esta dentro no se hereda-->
{% block content %}

<h1>Lista de Productos</h1>
<!-- Tabla dinamica -->
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Receta</th>
        <th scope="col">Precio</th>
        <th scope="col">Tipo</th>
        <th scope="col">Categoria</th>
      </tr>
    </thead> <!--producto es solo una variable iterautva object_list es la propiedad de listviewd django que permite recorrer la bd-->
    {% for producto in object_list %}
    <tbody>
      <tr>
        <th scope="row">{{producto.id}}</th>
        <td>{{producto.nombre}}</td>
        <td>{{producto.ingredientes}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.tipo}}</td>
        <td>{{producto.main_categoria}}</td>
      </tr>  
    </tbody>
    {% empty %}
    <div> No hay Registros para mostrar</div>
    {% endfor %}
  </table>
{% endblock %}